*{
	/*outline: 1px dotted #0ff;*/
}
.container{
	margin: 20px auto;
}
.row {
	margin: 20px 0px;
}
.row .row {
	margin: 10px 0px;
}
form label {
	margin-top: 5px;
}
#draw-box, #chat-box{
	min-height: 500px;
	width: 100%;
	padding: 10px;
	border: 1px solid #000;
}
#chat-box input, #chat-box button{
	margin-top: 10px;
}
#messages{
	height: 460px;
	width: 100%;
	padding: 5px;
	border: 1px solid #000;
	overflow: scroll;
