*{
	/*outline: 1px dotted #0ff;*/
}
canvas {
	cursor: crosshair;
}
.container{
	margin: 20px auto;
}
.row {
	margin: 20px 0px;
}
#draw-box, #chat-box{
	min-height: 500px;
	width: 100%;
}
#chat-box{
	padding: 10px;
	overflow: hidden;
}
#chat-box input, #chat-box button{
	margin-top: 10px;
}
#messages{
	height: 460px;
	width: 100%;
	padding: 5px;
	border: 1px solid #aaa;
	overflow: scroll;
}
#color-picker {
	width: 290px;
	display: inline-block;
}
	#color-picker div{
		width:20px;
		height:20px;
		display:inline-block;
		margin: 2px;
		cursor: pointer;
	}
	.picker .selected{
		outline: 2px solid #fff;
		box-shadow: 1px 1px 5px #333;
	}
#brush-picker {
	width: 40px;
	margin: 0px 10px;
	padding: 5px;
	vertical-align: top;
	border: 1px solid #ccc;
	display: inline-block;
}	
	#brush-picker div {
		margin: 2px;
		padding: 2px;
		text-align: center;
		cursor: pointer;
	}
	#brush-picker div div{
		display: inline-block;
		background-color: #000;
	}

