*{
	/*outline: 1px dotted #0ff;*/
}
.container{
	margin: 20px auto;
}
.row {
	margin: 20px 0px;
}
.row .row {
	margin: 10px 0px;
}
.col-fixed-6{
	width: 100%;
}
@media all and (min-width: 480px){
	.col-fixed-6{
		width: 480px;
	}
}
.col-fixed-3{
	width: 100%;
}
@media all and (min-width: 240px){
	.col-fixed-3{
		width: 240px;
	}
}
form label {
	margin-top: 5px;
}
